# ---------------------------------------------------------------------------
# .NET
# ---------------------------------------------------------------------------
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userprefs
*.cache
*.pdb
*.deps.json

/__Release/*
