h1 { background-color: #eeeeff; }
h2 { background-color: #eeeeee; }
h3 { border: dotted 1pt #eeeedd; }
dt { font-weight: bold; margin-top: 1em; }
p.note:before { font-weight: bold; content: "Note: "; }
table * p { margin: 0; }
thead     { font-weight: bold; }
.w3c { float: right; }
.tt { font-family: monospace; }
.ta_center { text-align: center; }
.ta_right  { text-align: right; }
